@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav {
    font-family: 'Ubuntu', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: rgb(230, 206, 209);
    overflow-x: hidden;
}

.nav-container {
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
}

.Spotifylogo-container {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.Spotifylogo-container span {
    margin-left: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.Spotifylogo {
    height: 40px;
    width: 40px;
}

.links span {
    margin: 0 0 0 10px;
}

.container {
    padding: 34px;
    background-image: url("./images/bg.jpg");
    width: 70%;
    min-height: 72vh;
    background-color: black;
    margin: 20px auto;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.bottom {
    background-color: black;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}

.bottom-range {
    width: 80vw;
}

.controllers {
    color: white;
    font-size: 1.5rem;
}

.controllers {
    margin-top: 10px;
    padding-top: 40px;
}

.songItemContainer {
    width: 60%;
    margin-top: 50px;
}

.songItem {
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    margin: 12px 0;
}

.songItem img {
    height: 43px;
    width: 43px;
    border-radius: 34px;
    margin: 0 23px;
}

.songItem span {
    color: black;
}

.playbutton {
    color: black;
    cursor: pointer;
    margin: 0 5px;
}

.timeStamp {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.playbutton1 {
    margin: 0 10px;
    font-size: 2rem;
}

.gifnamecontainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 9vw;
}

#gif {
    width: 30px;
    height: 20px;
    background-image: url('playing.gif');
    background-size: cover;
    margin: 0 20px;
    opacity: 0;
    transition: 0.3s opacity ease-in;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    .songItemContainer {
        width: 100%;
    }

    .bottom-range {
        width: 90vw;
    }

    .gifnamecontainer {
        left: 5vw;
    }
}
